# dependencias de python necesarias para el proyecto
pillow>=10.3.0
requests>=2.31.0
pyOpenSSL
M2Crypto
httplib2>=0.7
pysimplesoap~=1.8.22
pyafipws @ git+https://github.com/filoquin/pyafipws.git@py3k
